.news-detail {
    display: flex;
    flex-direction: column;

    justify-content: left;

    padding: 50px;

    overflow: hidden;
}

.return {
    flex: 0 0 auto;

    width: fit-content;
    margin-bottom: 70px;

    cursor: pointer;
}

.body {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    padding: 10px;
}

.title {
    display: flex;
    align-items: center;

    margin-bottom: 2vh;
}

