.news-card {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;

    padding: 15px;
    margin: 10px;

    justify-content: space-between;

    border: solid transparent 1px;
    border-radius: 25px;

    background: #ffffff;

    transition: 0.1s ease-in;
}

.news-card:hover {
    transition: 0.2s;
    scale: 1.03;
}

.image {
    justify-self: center;
    align-self: center;

    margin-bottom: 15px;
}

.image img {
    width: 350px;
    height: 350px;

    object-fit: cover;

    border-radius: 15px;
}

.textbox {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}
