.icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
}

svg {
    border: solid transparent 1px;
    border-radius: 15px;

    transition: 0.3s;
}
