.icon {
    display: flex;

    width: 60px;
    height: 60px;

    justify-content: center;
    align-items: center;
}

svg {
    border: solid transparent 1px;
    border-radius: 15px;

    fill: var(--icon-color);
    background: black;

    transition: 0.3s;
}

svg {

}
