.team {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
    text-align: center;

    margin: 100px;

    background-color: white;
}

.team-list {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-content: center;
}
